.param1__hr {
    width: calc(100% + 32px);
    position: relative;
    height: 1px;
    left: -16px;
    background: rgba(96, 96, 92, 0.8);
    z-index: 500
}

.param1__hr.hidden {
    display: none;
}