.param1__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background: #7141FB;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    margin-top: 12px;
    opacity: 1;
    position: relative;
    bottom: 0px;
    transition: bottom 1s;
}

.param1__btn.hidden {
    display: none;
    bottom: -64px;
    opacity: 0;
}