@import './greybox/chart__greybox.css';
@import './cardblock/chart__cardblock.css';
@import './carditem/chart__carditem.css';
@import './bullet/chart__bullet.css';
@import './bullets/chart__bullets.css';
@import './slider/chart__slider.css';

@import './cardheader/chart__cardheader.css';
@import './cardmaincontent/chart__cardmaincontent.css';

.chart {
    width: 100%;
    height: 290px;
    overflow-x: scroll;
    margin-top: 40px
}

.chart__line {
    width: 100%;
    height: 100%;
}

.chart::-webkit-scrollbar {
    display: none;
  }