.chart__carditem {
    width: 100%;
    min-height: 200px;
    background: white;
    color: #60605C;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
}

.chart__carditem b {
    color: black
}