.day__scroll {
    position: absolute;
    left: auto;
    top: 0%;
    right: -8px;
    bottom: 0%;
    width: 8px;
    height: 48px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #7141fb;
}