html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.face {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.price {
  text-align: center;
  border: 0px solid black;
  display: block;
  width: 100%
}

.price:focus {
  border: 0px solid black;
  outline-width: 0;
}

.price:focus-visible {
  border: 0px solid black;
  outline-width: 0;
}

.price.sum {
  font-size: 82px;
}

.price.descr {
  font-size: 24px;
  margin-top: 25px;
  height: 60px 
}

.form {
  width: 95vw;
  max-width: 600px;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__btn {
  background: black;
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  margin-top: 40px
}

/* Users to Share */
.users {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 120px;
  align-items: center;
}

.users__line {
  display: block;
  width: 100%;
  display: flex;
}

.users__profile {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.users__profile.selected .users__avatar {
  border: 4px solid blue
}

.users__avatar {
  background: grey;
  border-radius: 500px;
  width: 60px;
  height: 60px
}

.users__name {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

