html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import './blocks/day/day.css';

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

.borders {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100vw - 30px)
}

.back {
  background: #F1EFE5
}

.face {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: top;
  -webkit-justify-content: top;
  -ms-flex-pack: top;
  justify-content: top;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
}

.price {
  text-align: center;
  border: 0px solid black;
  display: block;
  background: none;
  padding: 0px
}

.price::placeholder {
  color: #60605C
}

.price:focus {
  border: 0px solid black;
  outline-width: 0;
}

.price:focus-visible {
  border: 0px solid black;
  outline-width: 0;
}

.price.sum {
  font-size: 82px;
  font-weight: 500;
  height: 96px;
  margin-top: 12vh;
}

.price.descr {
  font-size: 24px;
  margin-top: 18px;
  height: 60px 
}

.form {
  width: 100vw;
  max-width: 600px;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__btn {
  background: #7141FB;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 18px
}

/* Users to Share */
.users {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  overflow-y: hidden;
  margin-top: 9.4vh;
  align-items: center;
  margin-bottom: 8.4vh;
}

.users::-webkit-scrollbar {
  display: none;
}



.users__line {
  display: block;
  width: auto;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.users__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users__profile:focus, .users__profile:focus-visible {
  background: none;
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.users__profile:not(:last-child) {
  margin-right: 10px;
}

.users__profile.selected .users__avatar {
  border: 4px solid #7141FB
}

.users__avatar {
  border-radius: 500px;
  width: 71px;
  height: 71px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.users__photo {
  background-color: grey;
  border-radius: 500px;
  width: 61px;
  height: 61px
}

.users__name {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

/* Bar */
.space-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bar {
  height: 53px;
  margin-top: 32px
}

.bar__notification {
  margin-left: 18px;
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url('/d/notification.svg') no-repeat center center;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bar__addmore {
  margin-left: 18px;
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url('/d/addnew.svg') no-repeat center center;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bar__messages {
  background: #7141FB;
  font-size: 14px;
  font-weight: 700;
  color: white;
  position: absolute;
  left: 50%;
  top: -2px;
  padding: 3px 6px;
  border-radius: 30px;
}

.form__results {
  font-size: 16px;
  color: #60605C;
  margin-top: 9px
}

