.param1__input {
    background: none;
    border: 0px;
    text-align: center;
    color: black;
    font-size: 68px;
    font-weight: 500;
    height: 83px;
    padding: 0px;
    width: 100%;
    -webkit-appearance: none;
}

.param1__input::placeholder {
    color: rgba(0,0,0,.3);
}